<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <nav class="d-flex justify-content-between">
            <h2 class="text-primary">Presidential Elections</h2>
            <div>
                <% if (user) { %>
                    <a href="/profile" class="btn btn-success">Profil (<%= user.username %>)</a>
                    <a href="/user/logout" class="btn btn-danger">Logout</a>
                <% } else { %>
                    <a href="/login" class="btn btn-primary">Login</a>
                    <a href="/register" class="btn btn-secondary">Signup</a>
                <% } %>
                <a href="/round/history" class="btn btn-warning">History</a>
            </div>
        </nav>
        <hr>
    </div>
    <div class="container mt-5">
        <h1>Admin Panel</h1>
        <form action="/round/create-round" method="POST">
            <div class="form-group">
                <label for="name">Round Name:</label>
                <input type="text" class="form-control" name="name" required>
            </div>
            <div class="form-group">
                <label for="start_time">Start Time:</label>
                <input type="datetime-local" class="form-control" name="start_time" required>
            </div>
            <div class="form-group">
                <label for="end_time">End Time:</label>
                <input type="datetime-local" class="form-control" name="end_time" required>
            </div>
            <button type="submit" class="btn btn-primary">Create Round</button>
        </form>
        <a href="/" class="btn btn-secondary mt-3">Back Home</a>
        <p class="text-danger mt-3"><%= errorMessage %></p>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>